/* ---------------------------
   general
--------------------------- */
body {
  margin: 0;
  font-size: 0.8em;
  font-family: "Trebuchet MS", "Helvetica", "Arial",  "Verdana", "sans-serif";
}

ul, ol {
  margin: 0 0 0 2em;
  padding: 0;
}

li {
  margin: 0.2em 0;
  padding: 0;
}

a {
  /* text-decoration: none; */
}

a:hover {
  color: #1F79AD;
}


/* ---------------------------
   header
--------------------------- */
nav {
  background: #eee;
  padding: 0.5em 1em 1.2em 1em;
  border-bottom: 3px solid #ddd;
}

#menu {
  margin: 0;
}

#menu li {
  display: inline-block;
  margin: 0.5em 0;
}

#menu a {
  margin: 0 1em 0 0;
  padding: 0.2em;
  color: #333;
  font-size: 110%;
  border-bottom: 3px solid #333;
  text-decoration: none;
}

#menu a:hover {
  color: #1F79AD;
  border-bottom: 3px solid #1F79AD;
}


/* ---------------------------
   body section
--------------------------- */
section {
  position: relative;
  margin: 0 1em;
}

/* ---------------------------
   footer
--------------------------- */
footer {
  margin-top: 2em;
  background: #eee;
  padding: 0.5em 1em;
  border-top: 3px solid #ddd;
}

footer p {
  text-align: right;
  font-size: 80%;
  color: #1F79AD;
}


/* ---------------------------
   other
--------------------------- */
.button-inline {
  margin: 0 0 0 0.5em;
  padding: 0 0.3em; 
  background: #eee;
  border-radius: 6px;
  font-weight: bold;
  text-decoration: none;
}

.button-bar {
  margin: 2em 0 0 3.4em;
}

.button-bar a {
  margin: 0 1em 0 0;
  padding: 0.2em 0.5em; 
  background: #eee;
  border: 1px solid #bbb;
  border-radius: 6px;
  font-weight: bold;
  text-decoration: none;
}


/* ---------------------------
   scenarios
--------------------------- */
.sub-scenario {
  margin: 0.2em 0;
}

#list-finished li {
  margin-bottom: 1em;
  padding-bottom: 1em;
  border-bottom: 1px dotted #888;
}

.finished-scenario {
  border-bottom: 2px solid #1F79AD;
}

.scenario-status-ok {
  color: #79CE12;
}

.scenario-status-ko {
  color: #FF0000;
}

.filter {
  position: absolute;
  top: 0.5em;
  right: 0;
  width: 19em;
  border: none;
  border-top: 1px dotted #888;
}


/* ---------------------------
   campaign
--------------------------- */
.campaign-variable {
  font-size: 0.8em;
  color: #aaa;
}


/* ---------------------------
   virtual machines
--------------------------- */
.vm-status-0 {
    color: #79CE12;
    font-weight: bold;    
}

.vm-status-1 {
    color: #aaa;
}

